.hotel-reservation-header-items {
    display: grid;
    grid-template-columns: 7vw calc(38vw - 0.8rem) repeat(3, 10vw); 
    border-bottom: 1px solid #d3d3d3;   
    font-size: 1.4rem;
}
.hotel-reservation-header-items h3, .hotel-reservation-header-items span {
    letter-spacing: 0.1rem;
}

.hotel-reservation-filter-button {
    display: flex;
    border: 1px solid black;
    border-radius: 0.3rem;
    justify-content: space-evenly;
    margin-right: 1rem;
    
}
.hotel-reservation-filter-button div {
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    
}

.right-bordered {
    border-right: 2px solid #d3d3d3;
    
    
}
.header-center {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7e7a7a;
    font-family: 'Raleway', sans-serif;
    
}
.header-center:hover {
   font-weight: bold;
   border-bottom: 2px solid #00c2fd;
   transition: all 0.3s ease-in-out;
   font-size: 1.4rem;
   color: #464545;

}