*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;


}
@media only screen and (max-width:1250px) {
  html {
    font-size: 60%;
  }
}

body {
  overflow-x: hidden;
}